<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Passcode</title>
</head>
<body>
    <h1>Random Passcode - Passcode Number @ViewBag.count</h1>
    <h2>@ViewBag.Passcode</h2>
    <form action="/" method="GET">
        <input type="submit" value="Generate New Passcode">
    </form>

    <form action="/reset" method="POST">
        <input type="submit" value="Reset Passcode Number">
    </form>

</body>
</html>

