<h1>Please Log In:</h1>

<p>@ViewBag.loginError</p>
<form action="/login" method="POST">
    Email Address: <input type="text" name="Email"><br>
    <br>
    Password: <input type="text" name="Password"><br>
    <br>
    <input type="submit" value="Login!"><br>
    <br>
    <a href="/">Not Yet Registered? Register Here...</a>
</form>