<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Display</title>
</head>
<body>
    @{DateTime date = DateTime.Now;
    string format = "dddd MMMM d, yyyy";
    DateTime time = DateTime.Now;
    string format2 = "HH:mm tt";}
    <br>
    <br>
    <br>
    <div style="border: 1px solid black; text-align: center; width: 40%;margin-left: 28%;">
        <h2>The current date and time is:</h2>
    <h1>@date.ToString(format)</h1>
    <h1>@time.ToString(format2)</h1>
    </div>
</body>
</html>