<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
</head>
<body>
    <h1>Submitted Info</h1>
    <h2>Name: @ViewBag.name</h2>
    <br>
    <h2>Dojo Location: @ViewBag.location</h2>
    <br>
    <h2>Favorite Language: @ViewBag.favelang</h2>
    <br>
    <h2>Comment: @ViewBag.comment</h2>
    <br>
    <a href="/">Return to Survey</a>
</body>
</html>